@use "./base.scss";

// put your custom CSS here!

p {
    font-size: 1.2em;
}

article li {
    font-size: 1.2em;
}

article ul li ul li {
    font-size: 1.0em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.2em;
}